<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<form>
  <div class="row">
    <div class="cover-photo">
      <img class="img-fluid mb-4" src="assets/images/services-big.jpg" alt="" />

    </div>
  </div>

  <div class="cusrow">
    <div class="profile-photo">
      <img class="img-fluid mb-4" src="assets/images/team_03.jpg" alt="" />
      <div class="profile-edit-btn">
        <input type="button" value="Edit" class="pic-edit-btn">
      </div>
    </div>
    <div class="editname">
      <div><input type="text" placeholder="Edit name"></div>
    </div>
    <div class="cover-edit-btn">
      <input type="button" value="Edit" class="pic-edit-btn">
    </div>
  </div>
  <div class="v-spacer"></div>
  <div class="row">
    <input type="submit" value="Save changes" class="save-button">
    <input type="button" value="Remove current profile" id="delete-btn">
  </div>

  <!-- Page Content -->
  <div class="container">
    <!-- Services Section -->
    <div class="services-bar">
      <h1 class="my-4">About </h1>
      <textarea name="" class="edit-about" maxlength="1000">This is Edit about</textarea>
      <!-- Services Section -->
    </div>
    <br>
    <div class="customers-box">
      <h2 style="text-align: center;">Our Gallery</h2>

      <div class="container">
        <!-- Nav pills -->
        <div class="gal-tabs">
          <ul class="nav nav-pills" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#tab1">Graphic designing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#tab2">3D modeling and architecture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#tab3">Video editing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#tab4">Paintings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#tab5">Photography </a>
            </li>
          </ul>
        </div>

        <!-- Tab panes -->
        <div class="tab-content">
          <div id="tab1" class="container tab-pane active"><br>
            <div class="gallery">
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""  class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
            </div>
          </div>
          <div id="tab2" class="container tab-pane fade"><br>
            <div class="gallery">
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
            </div>
          </div>
          <div id="tab3" class="container tab-pane fade"><br>
            <div class="gallery">
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
            </div>
          </div>
          <div id="tab4" class="container tab-pane fade"><br>
            <div class="gallery">
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
            </div>
          </div>
          <div id="tab5" class="container tab-pane fade"><br>
            <div class="gallery">
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box a">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box b">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box c">
                <img src="images/portfolio-img-02.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box e">
                <img src="images/portfolio-img-05.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box f">
                <img src="images/portfolio-img-03.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box h">
                <img src="images/portfolio-img-04.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
              <div class="box j">
                <img src="images/portfolio-img-01.jpg">
                <div class="overlay">
                  <div class="sec">
                    <button class="btn"><i class="fa fa-edit"></i></button>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                  </div>
                  <input type="text" name=""   class="sub-category-cap" placeholder="Caption">
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <br>
    <!-- Our Customers -->
    <div class="row">
      <div class="customers-box" style="margin-left: auto; margin-right: auto;">
        <h2>Packages & Prices</h2>
        <textarea name=""   class="edit-pandp" maxlength="1000">Edit your packages and prices.</textarea>
      </div>
      <div class="customers-box" style="margin-left: auto; margin-right: auto;">
        <h2>Contact us</h2>
        <div>
          <table>
            <tr>
              <th style="text-align: start;">Phone</th>
              <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
              <td id="phone" style="text-align: start;"><input type="text" class="contact-field" placeholder="Phone"></td>
            </tr>
            <tr>
              <th style="text-align: start;">Email</th>
              <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
              <td id="email" style="text-align: start;"><input type="text" class="contact-field" placeholder="Email"></td>
            </tr>
            <tr id="website-row">
              <th style="text-align: start;">Website</th>
              <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
              <td id="website" style="text-align: start;"><input type="text" class="contact-field" placeholder="Website"></td>
            </tr>
            <tr id="facebook-row">
              <th style="text-align: start;">Facebook</th>
              <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
              <td id="facebook" style="text-align: start;"><input type="text" class="contact-field" placeholder="Fasebook URL"></td>
            </tr>
            <tr id="instagram-row">
              <th style="text-align: start;">Instagram</th>
              <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
              <td id="instagram" style="text-align: start;"><input type="text" class="contact-field" placeholder="Instagram URL"></td>
            </tr>
            <tr id="fiverr-row">
              <th style="text-align: start;">Fiverr</th>
              <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
              <td id="fiverr" style="text-align: start;"><input type="text" class="contact-field" placeholder="Fiver URL"></td>
            </tr>
            <tr id="upwork-row">
              <th style="text-align: start;">Upwork</th>
              <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
              <td id="Upwork" style="text-align: start;"><input type="text" class="contact-field" placeholder="Upwork URL"></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

  <div class="edit-categories">
    <div class="main-category">
      <dl>
        <dt>
          <input type="checkbox" name="" > Graphic designing
        </dt>
        <dd>
          <div class="sub-category" id="photo-editing-sub">
            <input type="checkbox" name="" >&nbsp;Photo editing<br>
            <input type="checkbox" name=""   >&nbsp;Illustration<br>
            <input type="checkbox" name=""   >&nbsp;Logo designing<br>
            <input type="checkbox" name=""   >&nbsp;Flyer design<br>
            <input type="checkbox" name=""   >&nbsp;Brochre design<br>
            <input type="checkbox" name=""   >&nbsp;Poster design<br>
            <input type="checkbox" name=""   >&nbsp;Catalog design<br>
            <input type="checkbox" name=""   >&nbsp;Menu design<br>
            <input type="checkbox" name=""   >&nbsp;Postcard design<br>
            <input type="checkbox" name=""   >&nbsp;Invitation design<br>
            <input type="checkbox" name=""   >&nbsp;Business card design
          </div>
        </dd>
      </dl>
    </div>

    <div class="main-category">
      <dl>
        <dt>
          <input type="checkbox" name="" id="video-editing">&nbsp;3D modeling and architecture
        </dt>
        <dd>
          <div class="sub-category" id="video-editing-sub">
            <input type="checkbox" name="" id="video-editing-1"    >&nbsp;Interior design<br>
            <input type="checkbox" name="" id="video-editing-2"    >&nbsp;Exterior design<br>
            <input type="checkbox" name="" id="video-editing-3"    >&nbsp;Product modeling<br>
            <input type="checkbox" name="" id="video-editing-4"    >&nbsp;CAD planing
          </div>
        </dd>
      </dl>
    </div>

    <div class="main-category">
      <dl>
        <dt>
          <input type="checkbox" name="" id="print-designs">&nbsp;Paintings
        </dt>
        <dd>
          <div class="sub-category" id="print-designs-sub">
            <input type="checkbox" name="" id="print-designs-1"    >&nbsp;Pencil & charcoal<br>
            <input type="checkbox" name="" id="print-designs-2"    >&nbsp;Water colour<br>
            <input type="checkbox" name="" id="print-designs-3"    >&nbsp;Acralic<br>
            <input type="checkbox" name="" id="print-designs-4"    >&nbsp;Oil paint
          </div>
        </dd>
      </dl>
    </div>

    <div class="main-category">
      <dl>
        <dt>
          <input type="checkbox" name="" id="graphic-arts" >&nbsp;Photography
        </dt>
        <dd>
          <div class="sub-category" id="graphic-arts-sub">
            <input type="checkbox" name="" id="graphic-arts-1"    >&nbsp;Portrait photography<br>
            <input type="checkbox" name="" id="graphic-arts-2"    >&nbsp;Aerial photography<br>
            <input type="checkbox" name="" id="graphic-arts-3"    >&nbsp;Real estate photography<br>
            <input type="checkbox" name="" id="graphic-arts-4"    >&nbsp;Events photography<br>
            <input type="checkbox" name="" id="graphic-arts-5"    >&nbsp;Fashion photography<br>
            <input type="checkbox" name="" id="graphic-arts-6"    >&nbsp;Product photography<br>
            <input type="checkbox" name="" id="graphic-arts-7"    >&nbsp;Wild life photography<br>
            <input type="checkbox" name="" id="graphic-arts-8"    >&nbsp;Life style photography<br>
            <input type="checkbox" name="" id="graphic-arts-9"    >&nbsp;Art photography<br>
            <input type="checkbox" name="" id="graphic-arts-10"    >&nbsp;Landscape photography<br>
            <input type="checkbox" name="" id="graphic-arts-11"    >&nbsp;Natural life photography
          </div>
        </dd>
      </dl>
    </div>

    <div class="main-category">
      <dl>
        <dt>
          <input type="checkbox" name="" id="interior-design">&nbsp;Video editing
        </dt>
        <dd>
          <div class="sub-category" id="interior-design-sub">
            <input type="checkbox" name=""    >&nbsp;Short vide ads<br>
            <input type="checkbox" name=""    >&nbsp;Animated GIFs<br>
            <input type="checkbox" name=""    >&nbsp;Visual effects<br>
            <input type="checkbox" name=""    >&nbsp;Intros & outros<br>
            <input type="checkbox" name=""    >&nbsp;Logo animation
          </div>
        </dd>
      </dl>
    </div>
  </div>
</form>
