<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/user.png" id="icon" alt="User Icon" style="width: 80px; height: 80px"/>
    </div>

    <!-- Login Form -->
    <form>
      <div class="form-group">
        <br>
        <input type="text" id="login"  class="fadeIn second form-control" name="loginUsername" placeholder="Username"  formControlName="userName">

      </div>
      <div class="form-group">
        <input type="password" id="password" class="fadeIn third form-control" name="loginPassword" placeholder="Password"  formControlName="password">

      </div>
      <div class="form-group">
        <button type="submit" class="fadeIn fourth btn btn-primary" value="Log In">Log In</button>
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
      <br>
      <a routerLink="/register" class="underlineHover" href="#">Don't have an account?</a>
    </div>

  </div>
</div>
