<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="cover-photo">
  <img class="img-fluid mb-4" src="assets/images/services-big.jpg" alt="" />
</div>
<div class="cusrow">
  <div class="profile-photo">
    <img class="img-fluid mb-4" src="assets/images/team_03.jpg" alt="" />
  </div>
  <div class="cname">
    <div>Your Company Name</div>
  </div>
  <div class="like-btn-div">
    <button class="like-btn"><img src="assets/img/like-btn.png" alt="" width="20px"></button>
  </div>
  <div class="edit-profile-btn-div">
    <a href="editprofile.html" routerLink="/editprofile">
      <div class="edit-profile-btn" id="edit-profile">
        Edit profile
      </div>
    </a>
  </div>
</div>
<div class="v-spacer"></div>
<!-- Page Content -->
<div class="container">
  <!-- Services Section -->
  <div class="services-bar">
    <h1 class="my-4">About </h1>
    <p>This is the about.</p>
    <!-- Services Section -->
  </div>
  <br>
  <div class="customers-box">
    <h2 style="text-align: center;">Our Gallery</h2>

    <div class="container">
      <!-- Nav pills -->
      <div class="gal-tabs">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#tab1">Graphic designing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#tab2">3D modeling and architecture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#tab3">Video editing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#tab4">Paintings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#tab5">Photography</a>
          </li>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div id="tab1" class="container tab-pane active"><br>
          <div class="gallery">
            <div class="box a">
              <img src="assets/images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="assets/images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="assets/images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab2" class="container tab-pane fade"><br>
          <div class="gallery">
            <div class="box a">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab3" class="container tab-pane fade"><br>
          <div class="gallery">
            <div class="box a">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab4" class="container tab-pane fade"><br>
          <div class="gallery">
            <div class="box a">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="tab5" class="container tab-pane fade"><br>
          <div class="gallery">
            <div class="box a">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box a">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box b">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box c">
              <img src="images/portfolio-img-02.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box e">
              <img src="images/portfolio-img-05.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box f">
              <img src="images/portfolio-img-03.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box h">
              <img src="images/portfolio-img-04.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
            <div class="box j">
              <img src="images/portfolio-img-01.jpg">
              <div class="overlay">
                <div class="sec">
                  <span class="sub-category-cap">caption</span>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <br>
  <!-- Our Customers -->
  <div class="row">
    <div class="customers-box" style="margin-left: auto; margin-right: auto; display: inline-table;">
      <h2>Packages & Prices</h2>
      <p>This is packages and prices.This is packages and prices.</p>
    </div>
    <div class="customers-box" style="margin-left: auto; margin-right: auto; display: inline-table;">
      <h2>Contact us</h2>
      <div>
        <table>
          <tr>
            <th style="text-align: start;">Phone</th>
            <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
            <td id="phone" style="text-align: start;">+4912345678</td>
          </tr>
          <tr>
            <th style="text-align: start;">Email</th>
            <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
            <td id="email" style="text-align: start;">abcd@xyz.com</td>
          </tr>
          <tr id="website-row">
            <th style="text-align: start;">Website</th>
            <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
            <td id="website" style="text-align: start;">www.abcd.com</td>
          </tr>
          <tr id="facebook-row">
            <th style="text-align: start;">Facebook</th>
            <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
            <td id="facebook" style="text-align: start;">facebook</td>
          </tr>
          <tr id="instagram-row">
            <th style="text-align: start;">Instagram</th>
            <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
            <td id="instagram" style="text-align: start;">Instagram</td>
          </tr>
          <tr id="fiverr-row">
            <th style="text-align: start;">Fiverr</th>
            <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
            <td id="fiverr" style="text-align: start;">Fiver</td>
          </tr>
          <tr id="upwork-row">
            <th style="text-align: start;">Upwork</th>
            <th>&nbsp;&nbsp;:&nbsp;&nbsp;</th>
            <td id="Upwork" style="text-align: start;">Upwork</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="customers-box" style="margin-left: auto; margin-right: auto; display: inline-table;">
      <h2>Other profiles</h2>
      <div >
        <input type="button" value="Video editing" class="acc-btn">
        <input type="button" value="Paintings" class="acc-btn">
        <input type="button" value="Photography" class="acc-btn">
        <input type="button" value="3D modeling and architecture" class="acc-btn">
      </div>
    </div>
  </div>

</div>
<br><br>
<div class="row">
  <div class="customers-box comments">
    <h2>Comments</h2>
    <div class="comment-item">
      <h5>Sadisha Nimsara</h5>
      <span>abcd@gmail.com</span>
      <p>This is his Comment!	This is his Comment!	This is his Comment!	This is his Comment!	This is his Comment!	This is his Comment!	</p>
    </div>
    <div class="comment-item">
      <h5>Lakshan Sandaruwan</h5>
      <span>abcd@gmail.com</span>
      <p>This is his Comment!	This is his Comment!	This is his Comment!	This is his Comment!	This is his Comment!	This is his Comment! This is his Comment! This is his Comment!</p>
    </div>
    <div class="comment-item">
      <h5>Another Person</h5>
      <span>abcd@gmail.com</span>
      <p>This is his Comment!	This is his Comment!	This is his Comment!	This is his Comment!	This is his Comment!	This is his Comment!	</p>
    </div>
  </div>
</div>

<div style="width: 100%;">
  <div id="respond" class="comment-section">

    <h3>Leave a Comment</h3>

    <form action="" method="post" id="commentform">

      <label for="comment_author" class="required">Your name</label>
      <input type="text" name="comment_author" id="comment_author" value="" tabindex="1" required="required">

      <label for="email" class="required">Your email;</label>
      <input type="email" name="email" id="email" value="" tabindex="2" required="required">

      <label for="comment" class="required">Your message</label>
      <textarea name="comment" id="comment" rows="10" tabindex="4"  required="required"></textarea>

      <!-- comment_post_ID value hard-coded as 1 -->
      <input type="hidden" name="comment_post_ID" value="1" id="comment_post_ID" />
      <input name="submit" type="submit" value="Submit comment" />

    </form>
  </div>
</div>
<br><br>
