<div class="tm-page-wrap mx-auto">

  <section class="tm-banner">
    <div class="tm-container-outer tm-banner-bg">
      <div class="container">

        <div class="row tm-banner-row tm-banner-row-header">
          <div class="col-xs-12">
            <div class="tm-banner-header">
              <h1 class="text-uppercase tm-banner-title">Let's begin</h1>
            </div>
          </div>  <!-- col-xs-12 -->
        </div> <!-- row -->
        <div class="row tm-banner-row" id="tm-section-search">

          <form action="index.html" method="get" class="tm-search-form tm-section-pad-2">
            <div class="form-row tm-search-form-row">

              <div class="form-group tm-form-group tm-form-group-1">
                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                  <label for="inputRoom">Category</label>
                  <select name="room" class="" id="inputRoom">
                    <option value="graphic_designing" selected>Graphic designing</option>
                    <option value="video_editing">Video editing</option>
                    <option value="3d_modeling">3D modeling and architecture</option>
                    <option value="paintings">Paintings</option>
                    <option value="photography">Photography </option>
                  </select>
                </div>
                <div class="form-group tm-form-group tm-form-group-pad tm-form-group-2">
                  <label for="inputAdult">District</label>
                  <select name="adult" class="" id="inputAdult">
                    <option value="" selected>Select District</option>
                    <option value="Ampara">Ampara</option>
                    <option value="Anuradhapura">Anuradhapura</option>
                    <option value="Badulla">Badulla</option>
                    <option value="Batticaloa">Batticaloa</option>
                    <option value="Colombo">Colombo</option>
                    <option value="Galle">Galle</option>
                    <option value="Gampaha">Gampaha</option>
                    <option value="Hambantota">Hambantota</option>
                    <option value="Jaffna">Jaffna</option>
                    <option value="Kalutara">Kalutara</option>
                    <option value="Kandy">Kandy</option>
                    <option value="Kegalle">Kegalle</option>
                    <option value="Kilinochchi">Kilinochchi</option>
                    <option value="Kurunegala">Kurunegala</option>
                    <option value="Mannar">Mannar</option>
                    <option value="Matale">Matale</option>
                    <option value="Matara">Matara</option>
                    <option value="Moneragala">Moneragala</option>
                    <option value="Mullaitivu">Mullaitivu</option>
                    <option value="Nuwara Eliya">Nuwara Eliya</option>
                    <option value="Polonnaruwa">Polonnaruwa</option>
                    <option value="Puttalam">Puttalam</option>
                    <option value="Ratnapura">Ratnapura</option>
                    <option value="Trincomalee">Trincomalee</option>
                    <option value="Vavuniya">Vavuniya</option>
                  </select>
                </div>
              </div>
              <div class="form-group tm-form-group tm-form-group-pad tm-form-group-1">
                <label for="btnSubmit">&nbsp;</label>
                <button type="submit" class="btn btn-primary tm-btn tm-btn-search text-uppercase" id="btnSubmit">Search Profiles</button>
              </div>
            </div>
          </form>

        </div> <!-- row -->
        <div class="tm-banner-overlay"></div>
      </div>  <!-- .container -->
    </div>     <!-- .tm-container-outer -->
  </section>

  <br><br><br>
  <div class="row">
    <div class="customers-box" style="margin-left: auto; margin-right: auto;">
      <h2>Most popular</h2>
    </div>
  </div>
  <div class="tm-container-outer" id="tm-section-3" style="width: 65%;">
    <div class="tm-recommended-place-wrap">
      <div class="tm-recommended-place">
        <img src="images/team_01.jpg" alt="Image" class="img-fluid tm-recommended-img">
        <div class="tm-recommended-description-box">
          <h3 class="tm-recommended-title">Freelancer Name</h3>
          <p class="tm-text-highlight">Graphic Designer</p>
          <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
          <p class="tm-text"><i class='fas fa-map-marker-alt'>&nbsp</i>District</p>
        </div>
        <a href="#" class="tm-recommended-price-box">
          <p class="tm-recommended-price">2.3K Likes</p>
          <p class="tm-recommended-price-link">Go to profile</p>
        </a>
      </div>

      <div class="tm-recommended-place">
        <img src="img/tm-img-07.jpg" alt="Image" class="img-fluid tm-recommended-img">
        <div class="tm-recommended-description-box">
          <h3 class="tm-recommended-title">Felis nec dignissim</h3>
          <p class="tm-text-highlight">Two North</p>
          <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
          <p class="tm-text"><i class='fas fa-map-marker-alt'>&nbsp</i>Kalutara</p>
        </div>
        <div id="preload-hover-img"></div>
        <a href="#" class="tm-recommended-price-box">
          <p class="tm-recommended-price">$120</p>
          <p class="tm-recommended-price-link">Continue Reading</p>
        </a>
      </div>

      <div class="tm-recommended-place">
        <img src="img/tm-img-05.jpg" alt="Image" class="img-fluid tm-recommended-img">
        <div class="tm-recommended-description-box">
          <h3 class="tm-recommended-title">Sed fermentum justo</h3>
          <p class="tm-text-highlight">Three North</p>
          <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
          <p class="tm-text"><i class='fas fa-map-marker-alt'>&nbsp</i>Kalutara</p>
        </div>
        <a href="#" class="tm-recommended-price-box">
          <p class="tm-recommended-price">$130</p>
          <p class="tm-recommended-price-link">Continue Reading</p>
        </a>
      </div>
      <div class="tm-recommended-place">
        <img src="img/tm-img-06.jpg" alt="Image" class="img-fluid tm-recommended-img">
        <div class="tm-recommended-description-box">
          <h3 class="tm-recommended-title">Lakshan Sandaruwan</h3>
          <p class="tm-text-highlight">Kalutara</p>
          <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
          <p class="tm-text"><i class='fas fa-map-marker-alt'>&nbsp</i>Kalutara</p>
        </div>
        <a href="#" class="tm-recommended-price-box">
          <p class="tm-recommended-price">2.3K Likes</p>
          <p class="tm-recommended-price-link">Go to profile</p>
        </a>
      </div>

      <div class="tm-recommended-place">
        <img src="img/tm-img-07.jpg" alt="Image" class="img-fluid tm-recommended-img">
        <div class="tm-recommended-description-box">
          <h3 class="tm-recommended-title">Felis nec dignissim</h3>
          <p class="tm-text-highlight">Two North</p>
          <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
          <p class="tm-text"><i class='fas fa-map-marker-alt'>&nbsp</i>Kalutara</p>
        </div>
        <div id="preload-hover-img"></div>
        <a href="#" class="tm-recommended-price-box">
          <p class="tm-recommended-price">$120</p>
          <p class="tm-recommended-price-link">Continue Reading</p>
        </a>
      </div>

      <div class="tm-recommended-place">
        <img src="img/tm-img-05.jpg" alt="Image" class="img-fluid tm-recommended-img">
        <div class="tm-recommended-description-box">
          <h3 class="tm-recommended-title">Sed fermentum justo</h3>
          <p class="tm-text-highlight">Three North</p>
          <p class="tm-text-gray">Sed egestas, odio nec bibendum mattis, quam odio hendrerit risus, eu varius eros lacus sit amet lectus. Donec blandit luctus dictum...</p>
          <p class="tm-text"><i class='fas fa-map-marker-alt'>&nbsp</i>Kalutara</p>
        </div>
        <a href="#" class="tm-recommended-price-box">
          <p class="tm-recommended-price">$130</p>
          <p class="tm-recommended-price-link">Continue Reading</p>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <input type="button" value="Show more" class="show-more-btn">
    <br><br>
  </div>
</div>
